<form action="/messages" method="post" id="createMessage" style="display: none;">
    <div class="newPost input-field">
        <div>
            <textarea class="materialize-textarea" name="body" id="body" placeholder="255 Character Limit"
                required></textarea>
        </div>
        <div class="submitBtn">
            <button class="btn waves-effect waves-light" type=" submit" id="sendChirp">Chirp</button>
        </div>
    </div>
</form>